.small-text {
  font-size: 14px;
  font-weight: $font-regular;
}

.center-text {
  text-align: center;
}

.pale-text {
  color: $gray-117;
}

.is-margin-bottom-x1 {
  margin-bottom: $building-unit;
}

.is-margin-bottom-x2 {
  margin-bottom: $building-unit-x2;
}

.is-margin-bottom-x3 {
  margin-bottom: $building-unit-x3;
}

.is-margin-bottom-x4 {
  margin-bottom: $building-unit-x4;
}

.is-margin-bottom-x5 {
  margin-bottom: $building-unit-x5;
}

.is-margin-bottom-x6 {
  margin-bottom: $building-unit-x6;
}
